@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(219, 168, 74);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 500px;
}

textarea {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: inherit;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 0 0 20px;
}

.tag {
  background-color: rgb(0, 109, 252);
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline;
}

.tag.highlight {
  background-color: rgb(252, 143, 0);
}